// Responsive

//Extra Large Screen - 1171 to 1920 screen size
@mixin xlg-screen {
  @media only screen and (max-width: 1920px) {
    @content;
  }
}

//Large Screen - 993 to 1170 screen size
@mixin lg-screen {
  @media only screen and (max-width: 1170px) {
    @content;
  }
}

//Medium Screen - 768 to 992 screen size
@mixin md-screen {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

//Medium Screen - 575 to 767 screen size
@mixin sm-screen {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

//Medium Screen - below 575 screen size
@mixin xs-screen {
  @media only screen and (max-width: 575px) {
    @content;
  }
}

#container {
  top: 0;
  z-index: 99;
  background-color: white;

  #header {
    width: 100%;
    height: 80px;
    margin: 10px auto 20px auto;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @include lg-screen {
        flex-direction: column;
        justify-content: center;
      }

      .header-searchbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 3;

        @include lg-screen {
          width: 100%;
          margin-top: 20px;
        }

        #header-form {
          width: 40%;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #666;

          .header-search-icon {
            cursor: pointer;
          }

          #header-input {
            border: none;

            &:focus {
              outline: none;
            }
          }
        }
      }
      .header-logo {
        flex: 6;
        max-height: 85px;

        @include lg-screen {
          padding: 20px 0 0 0;
        }

        .logo-img {
          width: 100%;
          max-width: 500px;
          transition: height 0.4s;
          cursor: pointer;

          @include lg-screen {
            max-width: 300px;
          }

          @include xs-screen {
            max-width: 200px;
          }
        }

        .logo-img.fixed {
          display: none;
        }
      }
      .header-accounts {
        width: 80%;
        flex: 3;
        display: flex;
        align-items: center;

        @include lg-screen {
          display: none;
        }

        .register-account {
          align-items: center;
          margin-right: 15px;

          span {
            font-size: 10px;
            cursor: pointer;
          }
        }

        .like-cart-icons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          img {
            width: 15px;
            height: 15px;
            object-fit: contain;
          }
        }
      }
    }
  }

  #header-navbar {
    background-color: white;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include md-screen {
      padding: 15px 0;
    }

    .navbar-fixed-wrapper {
      width: 100%;
      margin: 0 auto;
    }

    a {
      text-decoration: none;
      font-size: 15px;
      transition: all 0.2s ease-in-out;
      margin: 0 4%;

      @include lg-screen {
        font-size: 12px;
      }

      @include md-screen {
        font-size: 10px;
      }

      @include sm-screen {
        font-size: 7px;
      }

      @include xs-screen {
        font-size: 5px;
      }

      &:hover {
        transform: scale(1.1);
        border-bottom: 1px solid #e0ff04;
      }
    }

    img {
      width: 100%;
      max-width: 200px;
      max-height: 36px;
      display: none;
      margin: 10px auto;

      @include sm-screen {
        max-width: 100px;
      }
    }
  }

  #header-navbar.fixed {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: white;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navbar-submenu {
    background-color: white;
    position: absolute;
    top: 198px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
    padding: 1rem 2rem;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      li {
        font-weight: 400;
        font-size: 16px;
        padding: 10px 0;
      }
    }
  }
}
